# Will merge with main nftables.conf
table inet filter {
    set vpn_subnets {
        type ipv4_addr
        flags interval
        auto-merge
        elements = {
            {{ vpn_subnet }}
        }
    }
    chain input {
        # Allow strongSwan IKE/IPsec traffic
        # IKE (phase 1) negotiations
        udp dport 500 accept;
        # NAT-T negotiations
        udp dport 4500 accept;
        # Encapsulated Security Payload (ESP) is the actual tunnel traffic
        # The `meta l4proto esp accept` rule is crucial for allowing encrypted traffic.
        # It lets the kernel know that this traffic is part of an IPsec tunnel.
        meta l4proto esp accept;

    }

    chain forward {
        ip saddr @vpn_subnets ip daddr @vpn_subnets drop;
        ip saddr @vpn_subnets oifname "eth0" accept;
        ip daddr @vpn_subnets ct state {established, related} iifname "eth0" accept;
    }

    chain postrouting {
        type nat hook postrouting priority srcnat; policy accept;

        ip saddr @vpn_subnets oifname "eth0" masquerade;
    }

}
