# strongswan.conf - strongSwan configuration file
#
# Refer to the strongswan.conf(5) manpage for details
#
# Configuration changes should be made in the included files

charon {
    load_modular = yes
    filelog {
        main {
            path = /var/log/strongswan.log
            ike = 2
            cfg = 2
            eap = 3
        }
    }
    plugins {
        eap-radius {
            load = yes
            servers {
                primary {
                    address = {{ radius_addr }}
                    port = {{ radius_port }}
                    secret = {{ radius_secret }}
                }
            }
            nas_identifier = {{ radius_nas_id }}
        }
        include strongswan.d/charon/*.conf
    }
}

include strongswan.d/*.conf
