connections {
    ikev2-eap {
        version = 2
        local_addrs = {{ local_addrs }}
        remote_addrs = %any
        pools = vpnpool

        local {
            auth = pubkey
            id = @{{ id }}
        }

        remote {
            auth = eap-radius
            eap_id = %any
        }

        children {
            net {
                local_ts = 0.0.0.0/0
            }
        }

        dpd_delay = 25

    }
}

pools {
    vpnpool {
        addrs = {{ addrs }}
        dns = {{ ",".join(dns) }}
    }
}
