plugins {
    eap-identity { load = yes }
    kernel-netlink { load = yes }
    socket-default { load = yes }
    x509 { load = yes }
    openssl { load = yes }
    pubkey { load = yes }
    pem { load = yes }
}
